<div class="col-md-10">      
  <form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2" for="Project">Project:</label>
        <div class="col-md-4">
          <div class="col-md-8">
            <input type="text" id="Project" name="Project" 
            [(ngModel)]="Project" class="form-control" readonly >  
          </div>        
            <button type="button" class="btn btn-primary" (click)="openModal(template)">Search</button>          
        </div>        
      </div>
      <div class="form-group">
          <label class="control-label col-md-2">Sort Task By:</label>
          <div class="col-md-6">
            <button type="button" class="btn btn-light" (click)="sort('StartDate')">Start Date</button>
            <button type="button" class="btn btn-light" (click)="sort('EndDate')">End Date</button>
            <button type="button" class="btn btn-light" (click)="sort('Priority')">Priority</button>
            <button type="button" class="btn btn-light" (click)="sort('Completed')">Completed</button>
          </div>
      </div>
  </form>
  </div>
      <table class="table">
        <tbody>         
          <tr *ngFor="let task of filteredTasks">
            <td>
              <div>
                <b>Task</b>
              </div>
              <div class="divTaskDisplay">
                {{task.Task}}
              </div>
            </td>
            <td>
              <div>
                <b>Parent</b>
              </div>
              <div class="divTaskDisplay">
                {{task.ParentTask}}
              </div>
            </td>
            <td>
              <div>
                <b>Priority</b>
              </div>
              <label class="labelPosition">{{task.Priority}}</label>
            </td>
            <td>
              <div>
                <b>Start</b>
              </div>
              <label class="labelPosition">{{task.StartDate | date:'shortDate'}}</label>
            </td>
            <td>
              <div>
                <b>End</b>
              </div>
              <label class="labelPosition">{{task.EndDate | date:'shortDate'}}</label>
            </td>
            <td>
              <a routerLink="/addtask/{{task.TaskID}}" routerLinkActive="active">
                <button class="btn btn-primary editBtnPos">
                  Edit</button>
              </a>
            </td>
            <td>
              <input type="button" class="btn btn-success btn-sm endBtnPos" value="End Task" (click)="endTask(task.TaskID)">
            </td>
          </tr>
        </tbody>
      </table>
  
      <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title">Select Project</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              &times;</button>
          </div>
          <div class="modal-body">      
              <table class="table table-bordered">
                <tbody>              
                  <tr *ngFor="let Project of loadprojects">                                                     
                      <td>
                        <div class="divTaskDisplay">  
                          {{Project.ProjectID}}
                        </div>
                      </td>                                             
                      <td>
                          <label class="labelPosition">{{Project.Project}}</label>                    
                      </td>                
                      <td>
                          <button type="button" class="btn btn-danger" (click)="getSelectedProject(Project.ProjectID,Project.Project)">Select</button>
                      </td>          
                  </tr>   
                </tbody>
              </table>
          </div>
          <div class="modal-footer">        
          </div>
        </ng-template>      
