
<div class="container">
  <h1 class="h1">
    Task Manager
  </h1>             
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/addproject">Add Project
            <span class="sr-only"></span>
            </a>
          </li>
          <li>
            <a routerLink="/addtask">Add Task
            <span class="sr-only"></span>
            </a>
          </li>
          <li>
            <a routerLink="/adduser">Add User
            <span class="sr-only"></span>
            </a>
          </li>
          <li>
            <a routerLink="/viewtask">View Task
            <span class="sr-only"></span>
            </a>
          </li>
        </ul>            
</div>
<router-outlet></router-outlet>   
